.runbook-form {
	&__markdown-input textarea {
		font-family: 'Lucida Console', Monaco, monospace;
		font-size: 0.8em;
	}

	code {
		font-size: 0.9em;
	}

	p.runbook-form__submit--error {
		display: none;
		color: #b30000;
	}

	caption.o-table__caption {
		margin-top: 1em;
	}
}
